<h2>Liste Des Etudiant</h2>
<br />
<ul class="etudiants">
  <li
    [class.selected]="etudiant === selectedEtudiant"
    *ngFor="let etudiant of etudiants_liste"
    (click)="onSelect(etudiant)"
  >
    <span class="badge">{{ etudiant.id }}</span> -{{ etudiant.name }}
  </li>
</ul>

<div *ngIf="selectedEtudiant">
  <img [src]="selectedEtudiant.img" alt="">
  <h2>Info de {{selectedEtudiant.name}} {{selectedEtudiant.lastname}}</h2>
  <div class="info-container">
    <div class="card" (mouseover)="idClicked = true" (mouseleave)="idClicked = false">
      <div *ngIf="!idClicked" class="textDiv">
        <strong >ID</strong>
      </div>
      <p *ngIf="idClicked">{{selectedEtudiant.id}}</p>
    </div>
    <div class="card" (mouseover)="nameClicked = true" (mouseleave)="nameClicked = false">
      <div *ngIf="!nameClicked" class="textDiv">
        <strong >Name</strong>
      </div>
      <p *ngIf="nameClicked">{{selectedEtudiant.name}}</p>
    </div>
    <div class="card" (mouseover)="lnameClicked = true" (mouseleave)="lnameClicked = false">
      <div *ngIf="!lnameClicked" class="textDiv">
        <strong >Last Name</strong>
      </div>
      <p *ngIf="lnameClicked">{{selectedEtudiant.lastname}}</p>
    </div>
    <div class="card" (mouseover)="dateClicked = true" (mouseleave)="dateClicked = false">
      <div *ngIf="!dateClicked" class="textDiv">
        <strong >Birth Date</strong>
      </div>
      <p *ngIf="dateClicked">{{selectedEtudiant.dateNaissance | date}}</p>
    </div>
    <div class="card" (mouseover)="avgClicked = true" (mouseleave)="avgClicked = false">
      <div *ngIf="!avgClicked" class="textDiv">
        <strong >Average</strong>
      </div>
      <p *ngIf="avgClicked">{{selectedEtudiant.average}}</p>
    </div>
    <div class="card" (mouseover)="payClicked = true" (mouseleave)="payClicked = false">
      <div *ngIf="!payClicked" class="textDiv">
        <strong >Payée</strong>
      </div>
      <p *ngIf="payClicked">{{selectedEtudiant.paye |currency}}</p>
    </div>
  </div>
</div>
