<h2>Liste Des Etudiant</h2>
<br />
<ul class="etudiants">
  <li
    [class.selected]="etudiant === selectedEtudiant"
    *ngFor="let etudiant of etudiants_liste"
    (click)="onSelect(etudiant)"
  >
    <span class="badge">{{ etudiant.id }}</span> -{{ etudiant.name }}
  </li>
</ul>
<div *ngIf="selectedEtudiant">
  <h2>Info de {{ selectedEtudiant.name | uppercase }}</h2>
  <div>
    <span>id : </span>{{ selectedEtudiant.id }}
    <div>
      <label for=""
        ><strong>name</strong>
        <input placeholder="Name" [(ngModel)]="selectedEtudiant.name" />
      </label>
    </div>
  </div>
</div>
